<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi">
<link rel="stylesheet" href="/fonts/font-awesome.min.css">
<link rel="stylesheet" href="/css/Features-Boxed.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/Team-Boxed.css">
<link rel="stylesheet" href="/css/Testimonials.css">
<link href="https://cdn.sellix.io/static/css/embed.css" rel="stylesheet" />


<a class="btn btn-primary" role="button" style="border-top-left-radius: 100px;border-top-right-radius: 100px;border-bottom-right-radius: 100px;border-bottom-left-radius: 100px;border-width: 0px;margin-top: 1vh;margin-left: 1vw;background: linear-gradient(-69deg, rgb(255,0,153), rgb(0,224,255) 99%);"
    href="/"><i class="fa fa-arrow-left"></i></a>
<h1 class="text-center" style="margin-top: 4vh;font-family: Alatsi, sans-serif;font-size: 3rem;">Purchase Premium</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-center" style="margin-top: 2vh;">To purchase premium today for only&nbsp;€15 EUR visit the link below.</p>
            <div style="text-align: center;padding-top: 0px;margin-top: 2vh;"><a class="btn btn-primary btn-block" role="button" style="background: linear-gradient(109deg, rgb(255,0,230), rgb(0,240,255));border-width: 0px;margin-top: 4vh;" data-sellix-product="5f7afba2981a6">Buy Weekly!</a></div>
            <div style="text-align: center;padding-top: 0px;margin-top: 2vh;"><a class="btn btn-primary btn-block" role="button" style="background: linear-gradient(109deg, rgb(255,0,230), rgb(0,240,255));border-width: 0px;margin-top: 4vh;" data-sellix-product="5fa30957f1b74">Buy Monthly!</a></div>
            <div style="text-align: center;padding-top: 0px;margin-top: 2vh;"><a class="btn btn-primary btn-block" role="button" style="background: linear-gradient(109deg, rgb(255,0,230), rgb(0,240,255));border-width: 0px;margin-top: 4vh;" data-sellix-product="5fa30954948b4">Buy Yearly!</a></div>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdn.sellix.io/static/js/embed.js" ></script>